@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #3b3d43;
}

button {
  border: 0;
  padding: 0;
  font-family: inherit;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background: #19191c;
  color: #f9f9f9;
  font-family: "Poppins";
}

.navbarOverlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.navbarOnOverlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;

  transition: 0.5s;
}

.navbarBurguer {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
}

.navbarTitle {
  margin: 0;
  font-size: 16px;
}

.navbarMenu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 270px;
  height: 100%;
  padding: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  background: #000;
  visibility: hidden;
  transition: all 0.5s;
}

.navbarMenuOpen {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;

  width: 270px;
  height: 100%;
  padding: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  background: #000;
  visibility: visible;
  transition: all 0.5s;
}

.navbarMenu > button:hover {
  color: rgba(255, 255, 255, 0.5);
}
.navbarMenuOpen > button {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  padding: 0 8px;
  transition: all 0.5s;
}

.navbarMenuOpen > button.active {
  color: inherit;
}

.navbarMenuOpen > button.active:hover {
  color: rgba(255, 255, 255, 0.75);
}

@media only screen and (min-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }
  .navbarOverlay {
    display: none;
  }
  .navbarOnOverlay {
    display: none;
  }
  .navbarBurguer {
    display: none;
  }
  .navbarMenu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
    gap: 1rem;
  }
}
